<!-- General Information Section -->
<div class="space-y-4">
  <h2 class="text-2xl font-bold"><%= t('positions.general_information.form.header') %></h2>
  
  <!-- Position Title -->
  <div class="field">
    <%= f.label :title, t('positions.general_information.form.title_label'), class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :title, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500", placeholder: t('positions.general_information.form.title_description') %>
    <div id="word-count-title" class="text-sm mt-1"></div>
    <p class="mt-2 text-sm text-gray-500"><%= t('positions.shared.general_info.title_help') %></p>
  </div>

  <!-- Position Description -->
  <div class="field">
    <%= f.label :description, t('positions.general_information.form.description_label'), class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_area :description, rows: 5, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500", placeholder: t('positions.general_information.form.description_description') %>
    <div id="word-count-description" class="text-sm mt-1"></div>
    <p class="mt-2 text-sm text-gray-500"><%= t('positions.shared.general_info.description_help') %></p>
  </div>

  <!-- Benefits -->
  <div class="field">
    <%= f.label :benefits, t('positions.general_information.form.benefits_label'), class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_area :benefits, rows: 3, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500", placeholder: t('positions.general_information.form.benefits_description') %>
    <div id="word-count-benefits" class="text-sm mt-1"></div>
    <p class="mt-2 text-sm text-gray-500"><%= t('positions.shared.general_info.benefits_help') %></p>
  </div>

  <!-- Weekly Time Commitment -->
  <div class="field">
    <%= f.label :weekly_time_commitment, t('positions.edit.weekly_time_commitment.title'), class: "block text-sm font-medium text-gray-700" %>
    <%= f.number_field :weekly_time_commitment, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500", min: 1 %>
    <p class="mt-2 text-sm text-gray-500"><%= t('positions.edit.weekly_time_commitment.description') %></p>
  </div>

  <!-- Temporary Position -->
  <div class="field">
    <%= f.label :temporary, t('positions.edit.position_temporary.title'), class: "block text-sm font-medium text-gray-700" %>
    <%= f.select :temporary, [[t('positions.show.yes'), true], [t('positions.show.no'), false]], {}, { class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500", id: "position_temporary_select" } %>
    <p id="temporary-info-text" class="mt-2 text-sm text-gray-500 hidden"><%= t('positions.edit.position_temporary.temporary_info') %></p>
  </div>
</div>
