<h2 class="text-2xl font-bold">Bilder</h2>
<div class="bg-slate-100 rounded-lg p-6">
  <div class="gap-4">
    <div class="field m-3">
      <%= f.label :mainPicture, "Titelbild", class: "block text-lg font-medium text-gray-700" %>
      <p class="text-sm text-gray-700">Laden Sie ein Titelbild hoch</p>
      <div class="border-2 border-gray-300 p-4 rounded-md my-3">
        <%= f.file_field :mainPicture, accept: 'image/*', style: "cursor: pointer;" %>
        <p id="mainPicture-feedback" class="text-sm text-gray-500">Bitte ein Titelbild hochladen</p>
      </div>
    </div>

    <div class="field m-3">
      <%= f.label :picture1, "Weitere Bilder", class: "block text-lg font-medium text-gray-700" %>
      <p class="text-sm text-gray-700">Laden Sie bis zu drei weitere Bilder hoch (optional - aber empfohlen)</p>
      <div class="space-y-4">
        <% [[:picture1, "Bild 1"], [:picture2, "Bild 2"], [:picture3, "Bild 3"]].each do |picture, label| %>
          <div class="border-2 border-gray-300 p-4 rounded-md mt-3">
            <%= f.file_field picture, accept: 'image/*', style: "cursor: pointer;" %>
            <p id="<%= picture %>-feedback" class="text-sm text-gray-500">Bitte ein Bild hochladen</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>