<div class="mx-auto my-4 p-8 bg-blue-50 rounded-lg shadow-md">
  <h1 class="text-3xl font-semibold text-gray-800 mb-6"><%= t('index.title') %></h1>

  <!-- Button für neue Position -->
  <%= render partial: 'new_position_button' if !current_user.admin? %>

  <!-- Admin-Bereich für nicht freigegebene Positionen -->
  <%= render partial: 'admin_unreleased_positions', locals: { positions: @positions.where(released: false) } if current_user.admin? && @positions.where(released: false).exists? %>

  <!-- Liste der Positionen -->
  <% if @positions.present? %>
    <div class="space-y-6">
      <% if current_user.admin? %>
        <% @positions.where(released: true).each do |position| %>
          <%= render partial: 'position_card', locals: { position: position } %>
        <% end %>
      <% else %>
        <% @positions.each do |position| %>
          <%= render partial: 'position_card', locals: { position: position } %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-600 text-center mt-8"><%= t('index.no_positions_available') %></p>
  <% end %>
</div>
