<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl mx-auto">
    <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
      <%= form_with model: @position, url: positions_path, local: true, class: "space-y-4", multipart: true do |f| %>
        <div class="space-y-4">
          <h1 class="text-3xl font-bold text-gray-900"><%= t('positions.new.title') %></h1>
          <h2 class="text-2xl font-bold text-red-600"><%= t('positions.new.subtitle') %></h2>

          <%= render 'form_general_information', f: f %>
          <%= render 'form_images', f: f %>
          <%= render 'form_score', f: f %>
          
          <!-- FAQ Section -->
          <div class="space-y-4 mt-8">
            <h2 class="text-2xl font-bold"><%= t('positions.faqs.form.header') %></h2>
            <p class="text-sm text-gray-700"><%= t('positions.faqs.form.description') %></p>
            <div id="faqs" class="space-y-4">
              <!-- FAQ blocks will be added here dynamically -->
            </div>
            <button type="button" id="add_faq" class="mt-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <%= t('positions.faqs.form.add_new') %>
            </button>
          </div>

          <!-- Checkbox-Bereich -->
          <h2 class="text-2xl font-bold"><%= t('positions.new.confirmation.title') %></h2>
          <div class="bg-slate-100 rounded-lg p-6">
            <div class="gap-4">
              <!-- Checkbox: Textbeschreibungen in englischer Sprache -->
              <div class="field m-3">
                <div class="border-2 border-gray-300 p-4 rounded-md">
                  <label class="inline-flex items-center">
                    <input type="checkbox" id="english-checkbox" class="form-checkbox h-5 w-5 text-blue-600">
                    <span class="ml-2 text-sm text-gray-700">
                      <%= t('positions.new.confirmation.text') %>
                    </span>
                  </label>
                </div>
              </div>

              <!-- Checkbox: Zustimmung zu AGB und Datenschutz -->
              <div class="field m-3">
                <div class="border-2 border-gray-300 p-4 rounded-md">
                  <label class="inline-flex items-center">
                    <input type="checkbox" id="terms-checkbox" class="form-checkbox h-5 w-5 text-blue-600">
                    <span class="ml-2 text-sm text-gray-700">
                      <%= raw t('positions.new.confirmation.terms') %>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- Submit-Button -->
          <div class="actions my-10">
            <%= f.submit t('positions.new.button.create'), id: "submit-button", class: "w-full py-2 bg-gray-400 text-white font-medium text-sm rounded-md shadow-sm cursor-not-allowed", disabled: true %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  document.addEventListener("turbolinks:load", function () {
    // Temporäre Position: Hinweistext anzeigen/verbergen
    const temporarySelect = document.getElementById("position_temporary_select");
    const infoText = document.getElementById("temporary-info-text");

    if (temporarySelect && infoText) {
      temporarySelect.addEventListener("change", function () {
        if (temporarySelect.value === "true") {
          infoText.classList.remove("hidden");
        } else {
          infoText.classList.add("hidden");
        }
      });
    }

    // Word count logic
    function updateWordCount(field, counter, minLength, goodLength, perfectLength) {
      const charCount = field.value.length;

      if (charCount < minLength) {
        // Richtiger Weg, um eine Rails-Übersetzung mit variablen Werten in JavaScript zu verwenden
        counter.textContent = '<%= t("positions.new.word_count.title") %>'.replace('%{min_length}', minLength - charCount);
        counter.style.color = 'red';
      } else if (charCount > perfectLength) {
        counter.textContent = '<%= t("positions.new.word_count.too_long") %>';
        counter.style.color = 'red';
      } else if (charCount > minLength && charCount <= goodLength) {
        counter.textContent = '<%= t("positions.new.word_count.good_length") %>';
        counter.style.color = 'green';
      } else if (charCount > goodLength && charCount <= perfectLength) {
        counter.textContent = '<%= t("positions.new.word_count.perfect_length") %>';
        counter.style.color = 'green';
      } else {
        counter.textContent = '';
        counter.style.color = 'black';
      }
    }

    const titleField = document.querySelector('input[name="position[title]"]');
    const descriptionField = document.querySelector('textarea[name="position[description]"]');
    const benefitsField = document.querySelector('textarea[name="position[benefits]"]');
    const wordCountTitle = document.getElementById('word-count-title');
    const wordCountDescription = document.getElementById('word-count-description');
    const wordCountBenefits = document.getElementById('word-count-benefits');

    if (titleField && descriptionField && benefitsField) {
      titleField.addEventListener('input', function () {
        updateWordCount(titleField, wordCountTitle, 15, 20, 75);
      });

      descriptionField.addEventListener('input', function () {
        updateWordCount(descriptionField, wordCountDescription, 100, 700, 900);
      });

      benefitsField.addEventListener('input', function () {
        updateWordCount(benefitsField, wordCountBenefits, 100, 700, 900);
      });
    }

    // Rating points logic
    const maxPoints = 15;
    const ratingInputs = document.querySelectorAll('.rating-input');
    const remainingPointsDisplay = document.getElementById('remaining-points');

    function updateRemainingPoints() {
      let totalPoints = 0;
      ratingInputs.forEach(input => {
        if (input.checked) {
          totalPoints += parseInt(input.value);
        }
      });

      const remainingPoints = maxPoints - totalPoints;
      // Richtiger Weg für Ruby-Übersetzungen in JavaScript
      remainingPointsDisplay.textContent = '<%= t("positions.new.remaining_points") %>'.replace('%{remaining_points}', remainingPoints);
      remainingPointsDisplay.style.color = remainingPoints < 0 ? 'red' : 'black';
    }

    if (ratingInputs.length > 0 && remainingPointsDisplay) {
      ratingInputs.forEach(input => {
        input.addEventListener('change', updateRemainingPoints);
      });

      updateRemainingPoints();
    }

    // Upload feedback logic
    function handleFileUpload(inputId, feedbackId) {
      const input = document.getElementById(inputId);
      const feedback = document.getElementById(feedbackId);

      if (input && feedback) {
        input.addEventListener("change", function () {
          if (input.files && input.files.length > 0) {
            // Richtiger Weg für Übersetzungen mit Variablen
            feedback.textContent = '<%= t("positions.new.upload_feedback.success") %>'.replace('%{file_name}', input.files[0].name);
            feedback.classList.remove("text-gray-500");
            feedback.classList.add("text-green-600");
          } else {
            feedback.textContent = '<%= t("positions.new.upload_feedback.default") %>';
            feedback.classList.remove("text-green-600");
            feedback.classList.add("text-gray-500");
          }
        });
      }
    }

    handleFileUpload("position_main_picture", "main_picture-feedback");
    handleFileUpload("position_picture1", "picture1-feedback");
    handleFileUpload("position_picture2", "picture2-feedback");
    handleFileUpload("position_picture3", "picture3-feedback");

    // FAQ logic
    const addFaqButton = document.getElementById("add_faq");
    const faqsContainer = document.getElementById("faqs");

    if (addFaqButton && faqsContainer) {
      // Definiere Übersetzungsvariablen vor dem Template
const questionLabel = '<%= t("positions.faqs.form.question_label") %>';
const answerLabel = '<%= t("positions.faqs.form.answer_label") %>';
const removeButton = '<%= t("positions.faqs.form.remove") %>';

// Im Event-Listener:
addFaqButton.addEventListener("click", function (e) {
  e.preventDefault();
  var new_id = new Date().getTime();
  var newFaq = document.createElement("div");
  newFaq.innerHTML = `
    <div class="field bg-gray-50 p-4 rounded-lg">
      <div class="space-y-4">
        <label class="block text-sm font-medium text-gray-700">${questionLabel}</label>
        <input type="text" name="position[frequently_asked_questions_attributes][${new_id}][question]" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
        
        <label class="block text-sm font-medium text-gray-700">${answerLabel}</label>
        <textarea name="position[frequently_asked_questions_attributes][${new_id}][answer]" rows="3" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"></textarea>
        
        <button type="button" class="remove-faq mt-2 inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
          ${removeButton}
        </button>
      </div>
    </div>
  `;
        faqsContainer.appendChild(newFaq);
      });

      // Event-Delegation für das Entfernen von FAQs
      faqsContainer.addEventListener("click", function(e) {
        if (e.target && e.target.classList.contains("remove-faq")) {
          e.preventDefault();
          // Das übergeordnete Element finden und entfernen
          const faqItem = e.target.closest(".field");
          if (faqItem) {
            faqItem.remove();
          }
        }
      });
    }

    // Checkbox logic for enabling the submit button
    const englishCheckbox = document.getElementById("english-checkbox");
    const termsCheckbox = document.getElementById("terms-checkbox");
    const submitButton = document.getElementById("submit-button");

    function updateSubmitButtonState() {
      if (englishCheckbox.checked && termsCheckbox.checked) {
        submitButton.disabled = false;
        submitButton.classList.remove("bg-gray-400", "cursor-not-allowed");
        submitButton.classList.add("bg-blue-600", "hover:bg-blue-700");
      } else {
        submitButton.disabled = true;
        submitButton.classList.remove("bg-blue-600", "hover:bg-blue-700");
        submitButton.classList.add("bg-gray-400", "cursor-not-allowed");
      }
    }

    if (englishCheckbox && termsCheckbox && submitButton) {
      // Initial update
      updateSubmitButtonState();
      
      // Add event listeners
      englishCheckbox.addEventListener("change", updateSubmitButtonState);
      termsCheckbox.addEventListener("change", updateSubmitButtonState);
    }
  });
</script>