<!-- Score Section -->
<div class="space-y-6 mt-12 rounded-2xl border border-gray-200 bg-white p-6 shadow-sm lg:p-8">
  <h2 class="text-2xl font-bold"><%= t('positions.score.form.header') %></h2>
  <p class="text-sm text-gray-700"><%= t('positions.score.form.description') %></p>
  <p id="remaining-points" class="text-sm font-medium text-gray-700"></p>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
    <!-- Creative Skills -->
  <div class="field space-y-2">
      <%= f.label :creative_skills, t('positions.score.form.creative_skills_label'), class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-2">
        <% (1..5).each do |value| %>
          <label class="inline-flex items-center mr-4">
            <%= f.radio_button :creative_skills, value, class: "rating-input form-radio h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500" %>
            <span class="ml-2 text-sm text-gray-700"><%= value %></span>
          </label>
        <% end %>
      </div>
    </div>

    <!-- Technical Skills -->
  <div class="field space-y-2">
      <%= f.label :technical_skills, t('positions.score.form.technical_skills_label'), class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-2">
        <% (1..5).each do |value| %>
          <label class="inline-flex items-center mr-4">
            <%= f.radio_button :technical_skills, value, class: "rating-input form-radio h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500" %>
            <span class="ml-2 text-sm text-gray-700"><%= value %></span>
          </label>
        <% end %>
      </div>
    </div>

    <!-- Social Skills -->
  <div class="field space-y-2">
      <%= f.label :social_skills, t('positions.score.form.social_skills_label'), class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-2">
        <% (1..5).each do |value| %>
          <label class="inline-flex items-center mr-4">
            <%= f.radio_button :social_skills, value, class: "rating-input form-radio h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500" %>
            <span class="ml-2 text-sm text-gray-700"><%= value %></span>
          </label>
        <% end %>
      </div>
    </div>

    <!-- Language Skills -->
  <div class="field space-y-2">
      <%= f.label :language_skills, t('positions.score.form.language_skills_label'), class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-2">
        <% (1..5).each do |value| %>
          <label class="inline-flex items-center mr-4">
            <%= f.radio_button :language_skills, value, class: "rating-input form-radio h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500" %>
            <span class="ml-2 text-sm text-gray-700"><%= value %></span>
          </label>
        <% end %>
      </div>
    </div>

    <!-- Flexibility -->
  <div class="field space-y-2">
      <%= f.label :flexibility, t('positions.score.form.flexibility_label'), class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-2">
        <% (1..5).each do |value| %>
          <label class="inline-flex items-center mr-4">
            <%= f.radio_button :flexibility, value, class: "rating-input form-radio h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500" %>
            <span class="ml-2 text-sm text-gray-700"><%= value %></span>
          </label>
        <% end %>
      </div>
    </div>
  </div>
</div>