<nav class="rounded-lg shadow bg-[#003359] m-4">
  <div class="w-full md:py-8">
    <div class="flex justify-between items-center md:mx-5">
      <!-- Linksbündiges Menü -->
      <div class="flex space-x-4 align-middle">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to t('shared.navbar.admin.organizations'), organizations_path, class: "rounded-md bg-[#003359] hover:bg-gray-900 px-3 py-2 text-md font-medium text-white" %>
            <%= link_to t('shared.navbar.admin.positions'), positions_path, class: "rounded-md bg-[#003359] hover:bg-gray-900 px-3 py-2 text-md font-medium text-white" %>
            <%= link_to t('shared.navbar.admin.user_management'), admin_index_path, class: "rounded-md bg-[#003359] hover:bg-gray-900 px-3 py-2 text-md font-medium text-white" %>
          <% elsif current_user.confirmed? %>
            <%= link_to t('shared.navbar.organization.my_organization'), organizations_path, class: "rounded-md px-4 py-2 text-md font-medium text-white hover:bg-[#3578a8]" %>
            <%= link_to t('shared.navbar.organization.my_positions'), positions_path, class: "rounded-md px-4 py-2 text-md font-medium text-white hover:bg-[#3578a8]" %>
          <% end %>
        <% end %>
      </div>
      <!-- Rechtsbündiger Bereich -->
      <div class="flex items-center space-x-4">
        <% if user_signed_in? %>
          <%= link_to t('shared.navbar.profile.edit_profile'), edit_user_registration_path, class: "rounded-md px-4 py-2 text-md font-medium text-white hover:bg-[#3578a8]" %>
          <%= button_to t('shared.navbar.profile.logout'), destroy_user_session_path, method: :delete, class: "rounded-md px-4 py-2 text-md font-medium text-white bg-yellow-700 hover:bg-red-700" %>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
</nav>