<% if current_user && !current_user.admin? && current_user.organization? && current_user.organization && !current_user.organization.complete_profile? && current_user.confirmed? %>
  <div class="border-4 border-yellow-500 text-yellow-700 m-4 p-6 mb-4 rounded-lg shadow-lg" role="alert">
    <p class="font-bold"><%= t('shared.organization_alert.title') %></p>
    <p>
      <%= t('shared.organization_alert.description') %>
      <br>
      <strong><%= t('shared.organization_alert.missing_info') %></strong>
      <%= current_user.organization.incomplete_fields.join(", ") %>
    </p>
    <div class="mt-4">
      <%= link_to t('shared.organization_alert.cta'), edit_organization_path(current_user.organization), class: "bg-yellow-700 text-white font-bold py-2 px-4 rounded hover:bg-red-800" %>
    </div>
  </div>
<% end %>
