<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
  <div class="bg-gray-100 p-4 rounded">
    <p class="text-gray-700"><strong>Email:</strong> <%= organization.email.presence || "Nicht verfügbar" %></p>
  </div>
  <div class="bg-gray-100 p-4 rounded">
    <p class="text-gray-700"><strong>Telefonnummer:</strong> <%= organization.contact_number.presence || "Nicht verfügbar" %></p>
  </div>
  <div class="bg-gray-100 p-4 rounded">
    <p class="text-gray-700"><strong>Adresse:</strong> 
      <%= [organization.street, organization.housenumber, organization.zip, organization.city].compact.join(", ").presence || "Nicht verfügbar" %>
    </p>
  </div>
  <div class="bg-gray-100 p-4 rounded">
    <p class="text-gray-700"><strong>Website:</strong> 
      <%= organization.website.present? ? link_to(organization.website, organization.website, target: "_blank", class: "text-blue-500 hover:underline") : "Nicht verfügbar" %>
    </p>
  </div>
  <div class="bg-gray-100 p-4 rounded">
    <p class="text-gray-700"><strong>Beschreibung:</strong> <%= organization.description.presence || "Nicht verfügbar" %></p>
  </div>
  <div class="bg-gray-100 p-4 rounded">
    <p class="text-gray-700"><strong>Freigegeben:</strong> <%= organization.released ? 'Ja' : 'Nein' %></p>
  </div>
</div>