<h1 class="text-3xl">Bearbeiten Sie Ihre Organisation</h1>
<div class="mt-8 p-6 bg-white rounded-lg shadow-md border broder-slate-200">
  <%= form_for @organization, url: organization_path, html: { method: :put, class: "space-y-4" } do |f| %>
<div class="bg-slate-100 rounded-lg p-6">
<h2 class="text-2xl font-bold">Allgemeine Informationen</h2>
<div class="grid grid-cols-3 gap-4">

    <div class="field">
      <%= f.label :name, "Name", class: "block text-lg font-medium text-gray-700" %>
      <%= f.text_field :name, class: "w-full my-3 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
      <p class="text-sm text-gray-700">Bitte geben sie den vollen Namen mit Rechtsform an (zum Beispiel gGmbH oder e.V.)</p>
    </div>

    <div class="field">
      <%= f.label :email, "Kontakt-Email", class: "block text-lg font-medium text-gray-700" %>
      <%= f.email_field :email, class: "w-full my-3 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :contact_number, "Telefonnummer", class: "block text-lg font-medium text-gray-700" %>
      <%= f.text_field :contact_number, class: "w-full my-3 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
      <p class="text-sm text-gray-700">Bitte geben Sie die Landesvorwahl mit ein (Deutschland: +49 1775 123103)</p>
    </div>
            <div class="field">
      <%= f.label :description, "Beschreibung", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_area :description, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>
</div>
</div>
<div class="bg-slate-100 rounded-lg p-6">
<h2 class="text-2xl font-bold">Logo</h2>
    <div>
      <div class="field">
      <p class="text-sm text-gray-700 mt-2">Bitte laden Sie das Logo Ihrer Organisation hoch. Achten Sie darauf, dass der Hintergrund transparent, weiß oder zumindest einfarbig ist.</p>
      <div class="border-2 border-gray-300 p-4 rounded-md my-3 w-1/2">
        <%= f.file_field :logo, accept: 'image/*' %>
        <p class="text-sm text-gray-500">Bitte ein Logo hochladen</p>
      </div>
      <% if @organization.logo.attached? %>
      <div class="mt-4">
      <%= image_tag @organization.logo, style: "max-width: 200px;", class: "rounded" %>
      </div>
    <% end %>
      </div>
    </div>
</div>

<div class="bg-slate-100 rounded-lg p-6">
<h2 class="text-2xl font-bold">Adresse</h2>
<div class="grid grid-cols-3 gap-4">


    <div class="field">
      <%= f.label :city, "Stadt", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :city, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :zip, "Postleitzahl", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :zip, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :street, "Strasse", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :street, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :housenumber, "Hausnummer", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :housenumber, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>
</div>
</div>
<div class="bg-slate-100 rounded-lg p-6">
        <h2 class="text-2xl font-bold">Social Media & Web (Optional)</h2>
<div class="grid grid-cols-3 gap-4">

    <div class="field">
      <%= f.label :website, "Website", class: "block text-sm font-medium text-gray-700" %>
      <%= f.url_field :website, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :instagram_url, "Instagram URL", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :instagram_url, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :linkedin_url, "LinkedIn URL", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :linkedin_url, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :facebook_link, "Facebook URL", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :facebook_link, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>
</div>
</div>
<div class="my-3">
    <div class="actions">
      <%= f.submit "Speichern", class: " py-2 px-4 bg-blue-600 text-white font-medium text-lg rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"%>
    </div>
</div>
  <% end %>
</div>