<h1 class="text-3xl text-center font-bold"><%= t('organizations.edit.title') %></h1>
<p class="text-sm text-gray-700 text-center"><%= t('organizations.edit.required_fields') %></p>
<div class="mt-8 p-6 bg-white rounded-lg shadow-md border broder-slate-200">
  <%= form_for @organization, url: organization_path, html: { method: :put, class: "space-y-4" } do |f| %>
<div class="bg-slate-100 rounded-lg p-6">
<h2 class="text-2xl font-bold"><%= t('organizations.edit.general_info') %></h2>
<div class="grid grid-cols-3 gap-4">

  <div class="field">
    <%= f.label :name, t('organizations.edit.name'), class: "block text-lg font-medium text-gray-700" %>
    <%= f.text_field :name, class: "w-full my-3 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    <p class="text-sm text-gray-700"><%= t('organizations.edit.name_hint') %></p>
  </div>

  <div class="field">
    <%= f.label :contact_person, t('organizations.edit.contact_person'), class: "block text-lg font-medium text-gray-700" %>
    <%= f.text_field :contact_person, class: "w-full my-3 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    <p class="text-sm text-gray-700"><%= t('organizations.edit.contact_person_hint') %></p>
  </div>

  <div class="field">
    <%= f.label :email, t('organizations.edit.contact_email'), class: "block text-lg font-medium text-gray-700" %>
    <%= f.email_field :email, class: "w-full my-3 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="field">
    <%= f.label :contact_number, t('organizations.edit.phone_number'), class: "block text-lg font-medium text-gray-700" %>
    <%= f.text_field :contact_number, class: "w-full my-3 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    <p class="text-sm text-gray-700"><%= t('organizations.edit.phone_number_hint') %></p>
  </div>


</div>
</div>
<div class="bg-slate-100 rounded-lg p-6">
<h2 class="text-2xl font-bold"><%= t('organizations.edit.description_title') %></h2>
<div class="gap-4">
    <div class="field">
    <%= f.text_area :description, class: "w-full mt-2 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    <!-- <div id="word-count-description" class="mt-1 text-sm rounded-md focus:outline-none"></div> -->
    <p class="text-sm text-gray-700"><%= t('organizations.edit.description_hint').html_safe %></p>
  </div>
</div>
</div>
<div class="bg-slate-100 rounded-lg p-6">
<h2 class="text-2xl font-bold"><%= t('organizations.edit.admin_email') %></h2>
<div class="grid grid-cols-3 gap-4">
  <div class="field">
    <%= f.text_field :admin_email, value: User.find_by(organization_id: @organization.id)&.email, disabled: true, class: "w-full my-3 px-3 py-2 border rounded-md shadow-sm bg-gray-100 text-gray-500 cursor-not-allowed" %>
    <p class="text-sm text-gray-700"><%= t('organizations.edit.admin_email_hint') %></p>
  </div>
</div>
</div>
<div class="bg-slate-100 rounded-lg p-6">
<h2 class="text-2xl font-bold"><%= t('organizations.edit.logo_title') %></h2>
    <div>
      <div class="field">
      <p class="text-sm text-gray-700 mt-2"><%= t('organizations.edit.logo_hint') %></p>
      <div class="border-2 border-gray-300 p-4 rounded-md my-3 w-1/2">
        <%= f.file_field :logo, accept: 'image/*', style: "cursor: pointer;" %>
        <p id="logo-feedback" class="text-sm text-gray-500"><%= t('organizations.edit.upload_image') %></p>
      </div>
      <% if @organization.logo.attached? %>
      <div class="mt-4">
      <%= image_tag @organization.logo, style: "max-width: 200px;", class: "rounded" %>
      </div>
    <% end %>
      </div>
    </div>
</div>

<div class="bg-slate-100 rounded-lg p-6">
<h2 class="text-2xl font-bold"><%= t('organizations.edit.address_title') %></h2>
<div class="grid grid-cols-3 gap-4">


    <div class="field">
      <%= f.label :city, t('organizations.edit.city'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :city, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :zip, t('organizations.edit.zip'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :zip, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :street, t('organizations.edit.street'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :street, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :housenumber, t('organizations.edit.housenumber'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :housenumber, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>
</div>
</div>
<div class="bg-slate-100 rounded-lg p-6">
        <h2 class="text-2xl font-bold"><%= t('organizations.edit.social_media_title') %></h2>
<div class="grid grid-cols-3 gap-4">

    <div class="field">
      <%= f.label :website, t('organizations.edit.website'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :website, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :instagram_url, t('organizations.edit.instagram_url'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :instagram_url, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :linkedin_url, t('organizations.edit.linkedin_url'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :linkedin_url, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :facebook_link, t('organizations.edit.facebook_url'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :facebook_link, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :tiktok_url, t('organizations.edit.tiktok_url'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :tiktok_url, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="field">
      <%= f.label :linktree_url, t('organizations.edit.linktree_url'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :linktree_url, class: "w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>

</div>
</div>
<!-- Checkbox-Bereich -->
    <div class="bg-slate-100 rounded-lg p-6">
      <h2 class="text-2xl font-bold"><%= t('organizations.edit.confirmations_title') %></h2>
      <div class="gap-4">
        <!-- Checkbox: Beschreibung in englischer Sprache -->
        <div class="field m-3">
          <div class="border-2 border-gray-300 p-4 rounded-md">
            <label class="inline-flex items-center">
              <input type="checkbox" id="english-checkbox" class="form-checkbox h-5 w-5 text-blue-600">
              <span class="ml-2 text-sm text-gray-700">
                <%= t('organizations.edit.english_confirmation') %>
              </span>
            </label>
          </div>
        </div>

        <!-- Checkbox: Zustimmung zu AGB und Datenschutz -->
        <div class="field m-3">
          <div class="border-2 border-gray-300 p-4 rounded-md">
            <label class="inline-flex items-center">
              <input type="checkbox" id="terms-checkbox" class="form-checkbox h-5 w-5 text-blue-600">
              <span class="ml-2 text-sm text-gray-700">
                <%= t('organizations.edit.terms_confirmation').html_safe %>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>

<div class="my-3 flex space-x-4">
  <div class="actions">
    <%= f.submit t('organizations.edit.save'), id:"submit-button", class: "py-2 px-4 bg-blue-600 text-white font-medium text-lg rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %>
  </div>
  <div>
    <%= link_to t('organizations.edit.back_without_saving'), organizations_path, class: "py-2 px-4 bg-slate-600 text-white font-medium text-lg rounded-md shadow-sm hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %>
  </div>
</div>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Word count logic
    function updateWordCount(field, counter, minLength) {
      const charCount = field.value.length;

      if (charCount < minLength) {
        counter.textContent = I18n.t('organizations.edit.js.characters_needed', {count: minLength - charCount});
        counter.style.color = 'red';
      } else {
        counter.textContent = I18n.t('organizations.edit.js.perfect_length');
        counter.style.color = 'green';
      }
    }

    const descriptionField = document.getElementById('organization_description');
    const wordCountDescription = document.getElementById('word-count-description');

    if (descriptionField && wordCountDescription) {
      // Initial update
      updateWordCount(descriptionField, wordCountDescription, 100);

      // Update on input
      descriptionField.addEventListener('input', function () {
        updateWordCount(descriptionField, wordCountDescription, 100);
      });
    }

    // Checkbox logic for enabling the submit button
    const englishCheckbox = document.getElementById("english-checkbox");
    const termsCheckbox = document.getElementById("terms-checkbox");
    const submitButton = document.getElementById("submit-button");

    function updateSubmitButtonState() {
      if (englishCheckbox.checked && termsCheckbox.checked) {
        submitButton.disabled = false;
        submitButton.classList.remove("bg-gray-400", "cursor-not-allowed");
        submitButton.classList.add("bg-blue-600", "hover:bg-blue-700");
      } else {
        submitButton.disabled = true;
        submitButton.classList.remove("bg-blue-600", "hover:bg-blue-700");
        submitButton.classList.add("bg-gray-400", "cursor-not-allowed");
      }
    }

    if (englishCheckbox && termsCheckbox && submitButton) {
      // Initial state update
      updateSubmitButtonState();

      // Add event listeners
      englishCheckbox.addEventListener("change", updateSubmitButtonState);
      termsCheckbox.addEventListener("change", updateSubmitButtonState);
    }

    // File upload feedback logic
    function handleFileUpload(inputId, feedbackId) {
      const input = document.getElementById(inputId);
      const feedback = document.getElementById(feedbackId);

      if (input && feedback) {
        input.addEventListener("change", function () {
          if (input.files && input.files.length > 0) {
            feedback.textContent = I18n.t('organizations.edit.image_uploaded', {filename: input.files[0].name});
            feedback.classList.remove("text-gray-500");
            feedback.classList.add("text-green-600");
          } else {
            feedback.textContent = I18n.t('organizations.edit.upload_image');
            feedback.classList.remove("text-green-600");
            feedback.classList.add("text-gray-500");
          }
        });
      }
    }

    handleFileUpload("organization_logo", "logo-feedback");
  });
</script>