<h1 class="text-3xl">Organisation Details</h1>
<div class="mt-8 p-6 bg-white rounded-lg shadow-md border broder-slate-200">
    <div class="flex flex-col my-3 field">
        <p class="mt-1 text-sm text-gray-900">
            <span class="<%= @organization.is_approved ? 'text-green-500' : 'text-red-500' %>">
                <%= @organization.is_approved ? 'Organisation ist freigegeben. Somit sind alle veröffentlichte Stellen einsehbar' : 'Die Organisation wird demnächst von uns freigegeben. Bis dahin werden die geposteten Stellen nicht angezeigt.' %>
            </span>
        </p>
    </div>
    <div class="field my-3">
        <label class="block text-sm font-medium text-gray-700">Name</label>
        <p class="w-full mt-1 px-3 py-2 border rounded-md shadow-sm">
            <%= @organization.name.present? ? @organization.name : 'Name not available, please add one.' %>
        </p>
    </div>

    <div class="field my-3">
        <label class="block text-sm font-medium text-gray-700">Email</label>
        <p class="w-full mt-1 px-3 py-2 border rounded-md shadow-sm">
            <%= @organization.email.present? ? @organization.email : 'Email not available, please add one.' %>
        </p>
    </div>

    <div class="field my-3">
        <label class="block text-sm font-medium text-gray-700">Contact Number</label>
        <p class="w-full mt-1 px-3 py-2 border rounded-md shadow-sm">
            <%= @organization.contact_number.present? ? @organization.contact_number : 'Contact number not available, please add one.' %>
        </p>
    </div>

    <div class="field my-3">
        <label class="block text-sm font-medium text-gray-700">City</label>
        <p class="w-full mt-1 px-3 py-2 border rounded-md shadow-sm">
            <%= @organization.city.present? ? @organization.city : 'City not available, please add one.' %>
        </p>
    </div>

    <div class="field my-3">
        <label class="block text-sm font-medium text-gray-700">ZIP Code</label>
        <p class="w-full mt-1 px-3 py-2 border rounded-md shadow-sm">
            <%= @organization.zip.present? ? @organization.zip : 'ZIP Code not available, please add one.' %>
        </p>
    </div>

    <div class="field my-3">
        <label class="block text-sm font-medium text-gray-700">Street</label>
        <p class="w-full mt-1 px-3 py-2 border rounded-md shadow-sm">
            <%= @organization.street.present? ? @organization.street : 'Street not available, please add one.' %>
        </p>
    </div>

    <div class="field my-3">
        <label class="block text-sm font-medium text-gray-700">House Number</label>
        <p class="w-full mt-1 px-3 py-2 border rounded-md shadow-sm">
            <%= @organization.housenumber.present? ? @organization.housenumber : 'House number not available, please add one.' %>
        </p>
    </div>

    <div class="field my-3">
        <label class="block text-sm font-medium text-gray-700">Website</label>
        <p class="w-full mt-1 px-3 py-2 border rounded-md shadow-sm">
            <%= @organization.website.present? ? @organization.website : 'Website not available, please add one.' %>
        </p>
    </div>
    <div class="my-3">
        <%= link_to 'Zurück', organizations_path, class: "mt-6 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" %>
    </div>
</div>