<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background-color: #f7fafc;
                color: #2d3748;
                font-family: Arial, sans-serif;
            }
            .container {
                max-width: 600px;
                margin: 0 auto;
                padding: 20px;
                background-color: #ffffff;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
            }
            .header {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 16px;
                color: #E37222;
            }
            .content {
                margin-bottom: 16px;
            }
            .footer {
                margin-top: 24px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <!-- Header -->
            <div class="header"><%= t('devise.mailer.confirmation_instructions.header') %></div>

            <!-- Confirmation Instructions -->
            <div class="content">
                <p><%= t('devise.mailer.confirmation_instructions.greeting', email: @email) %></p>
                <p><%= t('devise.mailer.confirmation_instructions.confirmation_link') %></p>
                <p><%= link_to t('devise.mailer.confirmation_instructions.confirm_link_text'), confirmation_url(@resource, confirmation_token: @token), target: "_blank", rel: "noopener noreferrer" %></p>
            </div>

            <!-- Welcome Email Content -->
            <div class="content">
                <p><%= t('devise.mailer.confirmation_instructions.welcome_message') %></p>
            </div>

            <!-- Footer -->
            <div class="footer">
                <p><%= t('devise.mailer.confirmation_instructions.thank_you') %></p>
                <p><%= t('devise.mailer.confirmation_instructions.team_name') %></p>
            </div>
        </div>
    </body>
</html>
