<div class="bg-yellow-600 p-4 rounded-md">
  <div class="text-xl"><%= t('universities.unreleased.title') %></div>
  <% universities.each do |university| %>
    <div class="mt-8 p-6 bg-white rounded-lg shadow-md border border-slate-200">
      <% if university.logo.attached? %>
        <div class="mt-4 mb-4">
          <%= image_tag university.logo, style: "max-width: 200px;", class: "rounded" %>
        </div>
      <% end %>
      <h2 class="text-2xl font-semibold mb-4"><%= university.name %></h2>
      <p class="text-gray-700 mb-2"><strong><%= t('universities.unreleased.card.email') %>:</strong> <%= university.email %></p>
      <p class="text-gray-700 mb-2"><strong><%= t('universities.unreleased.card.contact_number') %>:</strong> <%= university.contact_number %></p>
      <p class="text-gray-700 mb-2"><strong><%= t('universities.unreleased.card.released') %>:</strong> <%= university.released ? t('yes') : t('no') %></p>
      <%= link_to t('universities.unreleased.card.view_data'), university_path(university.id), class: "mt-6 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" %>
      <%= link_to t('universities.unreleased.card.release'), release_university_path(university), method: :patch, class: "mt-6 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" %>
    </div>
  <% end %>
</div>
