<!-- filepath: /Users/davidrischow/Desktop/visualStudio/LetsGoVolunteer-Backend/app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "LetsGoVolunteer" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/organization_alert" %>    
    <%= render partial: "shared/navbar" %>
    <%= render partial: "shared/flash_messages" %>
    <main class="m-20">
      <%= yield %>
    </main>
    <%= render partial: "shared/footer" %>
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 99vh;
      }
      main {
        flex: 1;
      }
    </style>
    
  </body>
</html>