<!-- Page main HTML construct -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || t('application.title', default: "volunbee.com") %></title>
    <%= render 'shared/usercentrics' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <!-- The VolunteerHeilbronn Icon -->
    <link rel="icon" href="<%= asset_path('favicon.png') %>" type="image/png">
    <!-- Integration of Tailwind css -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/public_navbar"%>
    <!-- Flash Messages are only showed, when there are notices active -->
    <!-- Organization alerts are only showed when there is missing required information for organization -->

    <main class="bg-[#F8F9FA]">
      <!-- Page Content -->
       <%= yield %>
    </main>
    <%= render partial: "shared/public_footer" %>
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 99vh;
      }
      main {
        flex: 1;
      }
    </style>
    
  </body>
</html>
